/* RESPONSIVE */

/* LAPTOP */
@media screen and (min-width: 768px) {
  .projectCharter {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1.5fr 1fr 1fr;
  }

  /* arrange page */
  .Goals {
    grid-column: 1;
    grid-row: 1;
  }
  .Teams {
    grid-column: 2;
    grid-row: 1;
  }

  .Timeline {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  .Scopes {
    grid-column: 1;
    grid-row: 2;
  }

  .Primaries {
    grid-column: 2;
    grid-row: 2;
  }

  .project,
  .Goal,
  .team,
  .primary {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .container-Scopes {
    flex-direction: row;
  }
}

/* TABLET, MOBILE */
@media screen and (max-width: 768px) {
  /* change to 1 column */
  .projectCharter {
    grid-template-columns: auto;
  }

  /* parent */
  .Goals,
  .Teams,
  .Scopes,
  .Primaries,
  .Timeline {
    grid-column: auto;
    grid-row: auto;
  }

  /* child */
  .project,
  .Goal,
  .team,
  .primary {
    grid-template-columns: 1fr;
  }

  /* Scopes */
  .container-Scopes {
    flex-direction: column;
  }

  /* goal */
  .Goal i {
    text-align: center;
    width: 100%;
  }

  .team i {
    text-align: center;
    width: 100%;
  }
  .primary h3 {
    margin: auto;
  }
  
@media screen and (max-width: 576px) {
  /* change to 1 column */
  .projectCharter {
    grid-template-columns: auto;
  }

  /* parent */
  .Goals,
  .Teams,
  .Scopes,
  .Primaries,
  .Timeline {
    grid-column: auto;
    grid-row: auto;
  }

  /* child */
  .project,
  .Goal,
  .team,
  .primary {
    grid-template-columns: 1fr;
  }

  /* Scopes */
  .container-Scopes {
    flex-direction: column;
  }

  /* goal */
  .Goal i {
    text-align: center;
    width: 100%;
  }

  .team i {
    text-align: center;
    width: 100%;
  }
  .primary h3 {
    margin: auto;
  }

